# Doc
/preview

# config
.babelrc
.eslintignore
.eslintrc.yml
.gitignore
.lintstagedrc
.npmignore
.prettierignore
.prettierrc.yml
.travis.yml
commitlint.config.js

# Logs
*.log*

# Non transpiled source code
/src

# Tests
/test
/.nyc_output
/coverage

# GitHub
/.github

# OSX
.DS_Store

# IDE
.idea