.gitlab__branches
  .list__item__header
    position relative
    margin-bottom 0.6vmin

  .list__item__time
    margin-left 9px

  &__item
    &__name
      display inline-block
      font-weight bold
      margin-right 12px

    &__commit
      &__id
        font-size 0.9em
        text-decoration underline
        position absolute
        top   0
        right 0
        display inline-block
        font-family monospace

