.gitlab__merge-requests_gauge
  position relative

  .widget__body
    overflow-y hidden

  &_chart
    height 95%

  &_message
    text-align center
    position absolute
    bottom 1.6vmin
    left   0
    right  0
