.gitlab__project-members
  .widget__body
    padding 1.6vmin
    display flex
    flex-wrap wrap
    justify-content space-between

  &__item
    width 48%
    margin-bottom 1vmin
    position relative
    padding-left 4vmin

    span
      white-space pre

    &__avatar
      position absolute
      top  0
      left 0
      display inline-block
      width  3vmin
      height 3vmin
      overflow hidden
      border-radius 50%
      margin-right 1vmin

      img
        max-width  100%
        max-height 100%

