.gitlab__project
  .widget__body
    padding 1.6vmin 1.6vmin 0
    display flex
    flex-wrap wrap
    justify-content space-between
    align-content flex-start

    .label__group
      width 48%
      margin-bottom 1.6vmin
